body{
    margin: 0px;
    padding: 0px;
}

nav{
    width: 900px;
    padding: 130px;
}
ul{
    background-color: #3b415c;
    padding: 0px;
}

li{
    width: 174.5px;
    height: 50px;
    float: inline-start;
    background-color: #3b415c;
    list-style-type: none;
    color: white;
    padding: 40px 0px;
    text-align: center;
}

#banner{
    height: 250px;
    background-position: center;
    background-size: cover;
    background-color: #D9D9D9;
    background-image: url("../images/cs2.webp");
    background-repeat: no-repeat;
    padding: 20px;
    margin-left: 130px;
    margin-right: 900px;
}

#details{
    height: 400px;
    background-color: #3B415C;
    color: white;
    padding: 70px 70px;
    margin-left: 130px;
    margin-right: 900px;
}

#details div{
    background-color: #262b43;
    padding: 40px;
}

h1{
    font-size: 40px;
    font-style: normal;
    text-align: center;
}

p{
    font-size: 20px;
    font-style: normal;
    text-align: center;
    text-justify: inter-word;   
}