body {
  margin: 0px;
  background-color: #242424;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1550px) {
  p {
    padding-left: 200px !important;
    padding-right: 200px !important;
  }
  li {
    width: 80% !important;
  }
}

.ScrollSnap {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.ScrollSnapMark {
  scroll-snap-align: start;
}

@media (max-width: 1350px) {
  p {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  li {
    width: 80% !important;
  }
}

@media (max-width: 1000px) {
  p {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  li {
    width: 80% !important;
  }
}

.HeaderRow {
  width: 100%;
  height: 50px;
  background-color: #0e0e897d;
  float: center;
  display: flex;
  justify-content: right;
  position: sticky; top: 0;
  transition: 0.3s;
}

.HeaderRow:hover {
  background-color: #0e0e89;
  transition: 0.3s;
}

#banner {
  width: 100%;
  height: 600px;
  color: white;

  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 50%,
  #242424),url(assets/banner.jpg);
  float: center;
  display: flex;
  overflow: hidden;
  justify-content: center;
  flex: 1;
}

.HeaderButton {
  height: 40px;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff00;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: 0.3s;
}

.HeaderButton:hover {
  height: 40px;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
  display: flex;
  font-weight: bold;
  color: #0e0e897d;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: 0.1s;
}

#headerTitle {
  height: 40px;
  width: 200px;
  font-size: 33px;
  font-weight: bolder;
  font-style: italic;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff00;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  justify-self: flex-end;
  flex-grow: 1;
  transition: 0.3s;
}

#headerTitle:hover {
  height: 40px;
  width: 200px;
  font-size: 38px;
  font-weight: bolder;
  font-style: italic;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff00;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  justify-self: flex-end;
  flex-grow: 1;
  transition: 0.3s;
}

.Main {
  width: 100%;
  min-height: 800px;
  background-color: #d4d4d400;
  color: white;
  float: center;
}

#section3 {
  width: 100%;
  min-height: 400px;
  display: flex;
  color: white;
  justify-content: center;
  max-width: 100%;
}

ul {
  max-width: 100%;
}

li {
  width: 330px;
  height: fit-content;
  margin-top: 3px;
  margin-bottom: 3px;
  list-style-type: square;
}

p {
  text-indent: 25px;
  padding-left: 400px;
  padding-right: 400px;
  text-align: justify;
}

h2 {
  padding: 5px;
  justify-self: center;
}

.Center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Flip {
  transform: scaleX(-1);
}

#space {
  margin-left: 3%;
  margin-right: 3%;
  align-self: center;
}

.Invert {
  filter: invert(100%);
}

footer {
  width: 100%;
  height: 100px;
  background-color: #0e0e89;
}

.Images {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none !important;
}

#mainNavSet {
  height: 350px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 100px;
  margin-bottom: 120px;
}

.MainNavButton {
  height: 300px;
  transition: 0.3s;
}

.MainNavButton:hover {
  height: 310px;
  transition: 0.3s;
  filter: invert(63%) sepia(96%) saturate(722%) hue-rotate(346deg)
    brightness(101%) contrast(103%);
}

.MainNavButton2 {
  height: 300px;
  transition: 0.3s;
}

.MainNavButton2:hover {
  height: 310px;
  transition: 0.3s;
  filter: invert(30%) sepia(89%) saturate(3182%) hue-rotate(212deg)
    brightness(97%) contrast(100%);
}

.MainNavButton3 {
  height: 300px;
  transition: 0.3s;
}

.MainNavButton3:hover {
  height: 310px;
  transition: 0.3s;
  filter: invert(83%) sepia(57%) saturate(459%) hue-rotate(56deg) brightness(95%) contrast(94%);
}